:root{
    --verde-nav:#3E9722;
    --gris-claro:lightgray;
    --gris-oscuro:#666;
    --negro-claro: #333;
    --naranja:#E58C24;
    --azul:#3C74E6;
    --verde-pistacho:#CAE646;
    --noticias-background:lightgray
}
/* reseteamos todos los margenes y padding para trabajar comodos */
*{
    margin:0px;
    padding: 0px;
}
ol,ul{
    list-style: none;
}
a{
    /* parece en las fotos como un color azul mas intenso para los enlaces */
    color: blue;
}
body{
    box-sizing: border-box;
    /* al rededor de toda la pagina mantengo un borde que aparece en la imagen */
    padding:10px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto minmax(1fr, 800px) auto;
    grid-template-rows: repeat(4,1fr);
    grid-template:
    "header header header"
    "columna-izquierda principal columna-derecha"
    "columna-izquierda principal columna-derecha"
    "footer footer footer";
    gap: 40px;
}
header{
    grid-area:header;
    display: block;

    .header-principal{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;   
        & form{
            display: inline;

            & label{
                font-size: 1.2em;
                margin: 10px;
            }
        }
    }
    & nav{
        background-color: var(--verde-nav);
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        gap:30px;
        height: 5vh;
        color:white;
        & ul{
            display: contents;
        }
    }
}
.lado-izquierdo{
    grid-area:columna-izquierda;

    .left-aside{
        padding: 10px;
        min-width: 150px;
        max-width: 200px;
        background-color: var(--gris-claro);
        border: 2px solid var(--gris-oscuro);
        height: fit-content;

        & header{
            & h2{
                font-size: 1.1em;
            }
        }
    }
    .publi{
        padding: 10px;
        margin-top: 20px;
        background-color: transparent;
        border: 2px dotted var(--naranja);
        min-width: 150px;
        max-width: 200px;
        height: fit-content;

        & header{
            color:var(--naranja);
            text-decoration: underline;
        }
        & p{
            color:var(--gris-oscuro);
        }

        
    }
}

/* todos los segguir leyendo... */
footer>a{
    color:var(--naranja);
}

.right-aside{
    grid-area:columna-derecha;
    min-width: 150px;
    max-width: 200px;
    border: 1px solid var(--naranja);
    height: fit-content;
    font-size: 1.2em;

    & section{
        margin:10px;
        &>header{
            font-size: 0.8em;
            background-color: var(--azul);
            color: white;
            margin: 5px 0px;
        }
        &>footer>a{
            
            color: blue;
        }
    }
    
}

main{
    grid-area:principal;
    width:100%;
    height: 100%;
    max-width: 1800px;/*Establecido para que no se rompa la 
    estructura a partir de 1800px, el contenido se quedara en el centro de la celda*/

    & article{
        display: block;
        font-size: 1.2em;

        & h1{
            color: var(--naranja);
        }

        & .contenido-articulo{
            margin-top: 10px;
            display: block;
            & p{
                margin:5px 0px;
                display: block;
                color:var(--negro-claro);
            }

            & img{
                float: left;
    
            }

            
        }
    }
}
body>footer{
    grid-area:footer;
    background-color: var(--verde-pistacho);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    justify-content: space-between;
    height: 5vh;
    padding: 10px 5%;
    border-top: solid 1px var(--negro-claro);
    border-bottom: solid 1px var(--negro-claro);
    box-sizing: border-box;
    & nav{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 5px;
        & ul{
            display: contents;
        }
    }

    #copyRightYw3c{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        
        & p{
            display: block;
            white-space: nowrap;
        }

    }
}
